[Unit]
Description=Conn String Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/etc/gardyn/device/scheduler/conn.py
Restart=on-failure

[Install]
WantedBy=multi-user.target